- if @content.mediable_type == "TextPost"
- if @content.mediable_type == "UrlPost"
- if @content.mediable_type == "VideoPost"
- if @content.mediable_type == "ImagePost"
- if @content.mediable_type == "EventPost"