<%- model_class = Group -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<h2>My groups</h2>
<%= render :partial => 'my_groups' %>

<h2>All groups</h2>
<%= render :partial => 'all_groups' %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>
