<div class="page-header">
  <h1>Groups Page</h1>
</div>

<% #if not logged in %>
<% if not @myGroups.nil? %>
	<h2>My Groups</h2>
	<%= render :partial => 'my_groups' %>
<% end %>

<% if not @groups.nil? %>
	<h2>All Groups</h2>
	<%= render :partial => 'all_groups' %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_group_path,
            :class => 'btn btn-primary' %>
