<%- model_class = Content -%>
<hr/>
<div class="row-fluid">
  <div class="span4">
    <center>
			<h2>Activity</h2>
    	<p>View posts, comments, pictures, and videos from users of CMUnity. </p>
    	<p><%= link_to "View Posts »", posts_path, :class=>"btn"%></p>
		</center>
  </div>
  <div class="span4">
		<center>
      <h2>Communities</h2>
      <p>Learn about and have the opportunity join various campus communities.</p>
      <p><%= link_to "View Communities »", communities_path, :class=>"btn"%></p>
		</center>
 </div>
  <div class="span4">
		<center>
      <h2>Events</h2>
      <p>Discover new activities and events to participate on and around campus.</p>
      <p><%= link_to "View Events »", events_path, :class=>"btn"%></p>
		</center>
  </div>
</div>
