<div class="jumbotron">
	<center>
		<h1 id="jumbotron_h1">Meet CMUnity</h1>
		<p> 
			<font class="lead"> The mobile application that brings CMU's student organizations closer together</font>
			<br>
			<br>
			<i class="icon-star"></i>   promote and view new events and activities hosted around campus</li><br>
			<i class="icon-star"></i>   connect with student organizations and join them in their endeavors</li><br>
			<i class="icon-star"></i>   share cool new posts, pictures & videos to your campus community</li>
		</p>
		<br/>
		<%= render :partial => 'register_button' %>
		<br/>
	</center>
</div>
     
