<hr/>
<div class="jumbotron">
	<center>
		<h1 id="jumbotron_h1">Welcome to CMUnity</h1>
		<p> 
			<font class="lead"> The mobile application that brings CMU's student organizations closer together</font>
			<br>
		</p>
	</center>
</div>
<hr/>

     
