<%- model_class = Content -%>
<div class="row-fluid">
  <div class="span4">
    <center>
			<h2>Activity</h2>
    	<p>View posts and comments from users of CMUnity. You can share pictures and videos to friends and members of your organization about the latest news and events.</p>
    	<p><%= link_to "View Posts »", posts_path, :class=>"btn"%></p>
		</center>
  </div>
  <div class="span4">
		<center>
      <h2>Communities</h2>
      <p>Create or join communities and become a part of their endeavors and goals for the school year. Manage and organize your internal community's hierarchy and affairs. </p>
      <p><%= link_to "View Communities »", communities_path, :class=>"btn"%></p>
		</center>
 </div>
  <div class="span4">
		<center>
      <h2>Events</h2>
      <p>Create and promote events from your communities and share them with the rest of campus. What better way to publicize your events?</p>
      <p><%= link_to "View Events »", posts_path, :class=>"btn"%></p>
		</center>
  </div>
</div>