<%- model_class = Content -%>
  <div class="home_top">
      <hr>
  </div>
    <div class="row-fluid">
        <div class="span4">
          <h2>Activity</h2>
          <p>View posts and comments from users of CMUnity. You can share pictures and videos to friends and members of your organization about the latest news and events.</p>
          <p><a class="btn btn-info" href="posts">View Activity Feed »</a></p>
        </div>
        <div class="span4">
          <h2>Communities</h2>
          <p>Create or join communities and become a part of their endeavors and goals for the school year. Manage and organize your internal community's hierarchy and affairs. </p>
          <p><a class="btn btn-info" href="communities">View Communities »</a></p>
       </div>
        <div class="span4">
          <h2>Events</h2>
          <p>Create and promote events from your communities and share them with the rest of campus. What better way to publicize your events?</p>
          <p><a class="btn btn-info" href="events">View Events »</a></p>
        </div>
    </div>

