

</br>

<div id="index_top">
	<%= render :partial => 'pitch' %>
</div>

<div id="index_bottom">
	<% if user_signed_in? %>
	<%= render :partial => 'user_home' %>
	<% else %>
	<%= render :partial => 'guest_home' %>
	<% end %>
</div>





