/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require bootstrap-timepicker
 *= require bootstrap-switch
 *= require bootstrap-select
 *= require jasny-bootstrap
 *= require jasny-bootstrap-responsive
 *= require liveurl
 *= require_tree .
*/
button.btn-primary a {
	color: white;
}


.vegas-loading {
	/* Loading Gif by http://preloaders.net/ */
	-moz-border-radius:10px; -webkit-border-radius:10px; border-radius:10px;
	background:#000 url(assets/loading.gif) no-repeat center center;
	background:rgba(0, 0, 0, 0.7) url(images/loading.gif) no-repeat center center;
	height:32px;
	left:20px;
	position:fixed;
	top:20px;
	width:32px; 
	z-index:0;
}

.vegas-overlay {
	background:transparent url(assets/01.png);
	opacity:0.5;
	z-index:-1;
}

.vegas-background {
	image-rendering: optimizeQuality;
	-ms-interpolation-mode: bicubic;
	z-index:-2;
    /* counteracts global img modification by twitter bootstrap library */
    max-width: none !important;
}