// Place all the styles related to the event_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-col {
}

.form-horizontal .event-col .controls {
	margin-left:90px;
}


@media (max-width: 1200px) { 
  #event-details .control-group label {
    float: right;
    text-align:left;
    padding-left: 30px;
  }
  #event-details .control-group .controls {
    width: 210px;
    float: right;
    margin:0px !important;
  }
}
@media (max-width: 980px) { 
  #event-details .control-group label {
      display: block;
      width: 100%;
      text-align: right;
  }
  #event-details .has-switch label {
    width: 34%;
  }
}
  @media (max-width: 767px) {
    #event-details .control-group .controls {
      width: 100%;
    }
    #event-details .input-append input {
      width: 96% !important;
    }
}


.datepicker-dropdown {
	z-index: 110 !important;
}