.navbar-cmunity .navbar-inner {
  background-color: #d94935;
  background-image: -moz-linear-gradient(top, #d94935, #d94935);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d94935), to(#d94935));
  background-image: -webkit-linear-gradient(top, #d94935, #d94935);
  background-image: -o-linear-gradient(top, #d94935, #d94935);
  background-image: linear-gradient(to bottom, #d94935, #d94935);
  background-repeat: repeat-x;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  border-color: #AE3A2A;
}