#jumbotron_h1 {
	font-size: 100px;
	line-height: 1;
}



#hrhr {
	margin: 40px 0;
}

.page-header {
	word-wrap:break-word;
}

.dt-left > dt {
	text-align:left;
}

#fetch-data-url, #fetch-data-video, #fetch-data-image {
	display: none;
}

.loading {
	text-align: center;
}

.fix_selects .bootstrap-select button{
	width:200px;
}

.input-append {
    width: 100%;
    input#start-time, input#start-date, input#end-time, input#end-date {
    	width: 90% !important;
    }
}

#index_top{
	margin-bottom: 80px;
}

.dropdown-menu {
	padding:10px;
}

.tablet-post-nav {
	display: none;
}


.mobile-post-nav-wide, .mobile-post-nav-long {
	display: none;
	margin: 0px auto;
}

.mobile-post-nav-wide {
	padding: 0 10px;
}

.mobile-post-nav-long li {
    margin: 0px 3px;
    vertical-align: top;
    display: inline-block;
}

.auto-nav1, .auto-nav2, .auto-nav3 {
	overflow:hidden;
	width:100%;
	margin: 0px;
	li {
		list-style-type:none;
		float:left;
		margin-right: 5px;
		white-space:nowrap;
		text-align:center !important;
		
	}
	li.last { margin-right:0; float:right; }
}

.no-bottom {
	margin-bottom:0px;
	padding-bottom:0px;
}

.no-bottom-padding {
	padding-bottom:0px;
}

.no-bottom-margin {
	margin-bottom:0px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
	.desktop-post-nav {
		display: none;
	}

	.sidebar-nav {
		display: none;
	}

	.tablet-post-nav {
		display: block;				
	}
 }
 
/* Landscape phones and down */
@media (max-width: 560px) { 

	.tablet-post-nav {
		display: none;
	}

	.sidebar-nav {
		display:none;
	}
	.mobile-post-nav-wide {
		display: block;
	}



 }

 @media (max-width: 450px) {
 	.mobile-post-nav-wide {
 		display: none;
 	}

 	.mobile-post-nav-long {
 		display: block;
 	}

 }

input, .start-date {
	max-width: 100%;
}
